
@keyframes gradientAnimation {
    0% {
      background-color: #a78bfa;
    }
    50% {
      background-color: #e879f9;
    }
    100% {
      background-color: #a78bfa;
    }
  }
  .animated-bg {
    background: linear-gradient(to right, #7f5efc, #ff7eb3);
    background-size: 50% 00%;
    animation: gradientAnimation 8s ease infinite;
  }
  